@model TrabajoFinalLabIV.Models.Club

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h4 class="text-center">Detalles del Club</h4>
    <hr />
    <div class="row">
        <div class="col-md-4 offset-md-2 text-center">
            <img src="~/images/clubes/@Model.ImagenEscudo"
                 height="200" width="200"
                 asp-append-version="true"
                 alt="Escudo del Club" />
        </div>
        <div class="col-md-4">
            <dl class="row">
                <dt class="col-sm-5">Nombre:</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Nombre)</dd>
                <dt class="col-sm-5">Resumen:</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Resumen)</dd>
                <dt class="col-sm-5">Fecha de Nacimiento:</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.FechaNacimiento)</dd>
                <dt class="col-sm-5">País:</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Pais)</dd>
                <dt class="col-sm-5">Categoría:</dt>
                <dd class="col-sm-7">@Html.DisplayFor(model => model.Categoria.Descripcion)</dd>
            </dl>
        </div>
    </div>
</div>

<div class="text-center mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>

