@model TrabajoFinalLabIV.ViewModel.ClubesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Clubes</h1>
<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Crear nuevo</a>
</p>

<form asp-action="Index" method="get">
    <p>
        Nombre: <input type="text" asp-for="Nombre" />        
        Pais: <input type="text" asp-for="Pais" />
        Categoria: 
        <select asp-for="CategoriaId"  asp-items="@Model.ListCategorias">
            <option value="">Todos</option>
        </select>
        <input type="submit" value="Buscar"/>
    </p>
    
</form>


<table class="table">
    <thead>
        <tr>
            <th>Escudo</th>
            <th>Nombre</th>
            <th>Resumen</th>
            <th>Fecha de Nacimiento</th>
            <th>País</th>
            <th>Categoría</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clubes)
        {
            <tr>
                <td>
                    @if (!string.IsNullOrEmpty(item.ImagenEscudo))
                    {
                        <img src="~/images/clubes/@item.ImagenEscudo"
                             height="80" width="80"
                             asp-append-version="true" />
                    }
                    else
                    {
                        <span>Imagen no disponible</span>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td title="@item.Resumen">@Html.DisplayFor(modelItem => item.Resumen)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                <td>@Html.DisplayFor(modelItem => item.Pais)</td>
                <td>@Html.DisplayFor(modelItem => item.Categoria.Descripcion)</td>
                <td>
                   <div class="btn-group-vertical">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Eliminar</a>
                   </div>
                  
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Paginador" for="@Model.Paginador" />