@model TrabajoFinalLabIV.Models.Club

@{
    ViewData["Title"] = "Detalles del Club";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="mt-5 text-center">Detalles del Club</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Escudo</dt>
                        <dd class="col-sm-8">
                            <img src="~/images/clubes/@Model.ImagenEscudo"
                                 height="100" width="100"
                                 asp-append-version="true"
                                 alt="Escudo del Club" />
                        </dd>
                        <dt class="col-sm-4">Nombre</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Nombre)</dd>
                        <dt class="col-sm-4">Resumen</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Resumen)</dd>
                        <dt class="col-sm-4">Fecha de Fundación</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.FechaNacimiento)</dd>
                        <dt class="col-sm-4">País</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Pais)</dd>
                        <dt class="col-sm-4">Categoría</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Categoria.Descripcion)</dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
                </div>
            </div>
        </div>
    </div>
</div>

