@model TrabajoFinalLabIV.ViewModel.PaginadorViewModel



<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item @(Model.PaginaActual == 1 ? "disabled" : "")">
            <a class="page-link" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.PaginaActual - 1)" tabindex="-1">Anterior</a>
        </li>

        <li class="page-item active">
            <span class="page-link">@Model.PaginaActual <span class="sr-only"></span></span>
        </li>

        <li class="page-item @(Model.PaginaActual == Model.TotalPaginas ? "disabled" : "")">
            <a class="page-link" asp-all-route-data="@Model.ValoresQueryString" asp-route-pagina="@(Model.PaginaActual + 1)">Siguiente</a>
        </li>
    </ul>
</nav>

