@model TrabajoFinalLabIV.Models.Jugador

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h4 class="card-title">¿Estás seguro de que deseas eliminar este jugador?</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle text-center">Detalles del Jugador</h5>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4">Foto</dt>
                        <dd class="col-sm-8">
                            <img src="~/images/jugadores/@Model.Foto"   
                                 class="rounded-circle"
                                 height="100" width="100"
                                 asp-append-version="true"
                                 alt="Foto del Jugador" />
                        </dd>
                        <dt class="col-sm-4">Apellido</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Apellido)</dd>
                        <dt class="col-sm-4">Nombres</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Nombres)</dd>
                        <dt class="col-sm-4">Biografía</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Biografia)</dd>
                        <dt class="col-sm-4">Club</dt>
                       <dd class="col-sm-8">
                            @if (@Model.Club != null)
                            {
                                @Html.DisplayFor(model => model.Club.Nombre)
                            }
                            else
                            {
                                <span class="text-danger">Este jugador no se encuentra asociado a un club.</span>
                            }
                        </dd>
                    </dl>
                </div>
                <div class="card-footer text-center">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <button type="submit"  class="btn btn-danger btn-sm">Eliminar</button> 
                        <a asp-action="Index" class="btn btn-secondary btn-sm">Volver a la lista</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

