@model TrabajoFinalLabIV.ViewModel.JugadoresViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Jugadores</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Jugadores[0].Foto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jugadores[0].Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jugadores[0].Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jugadores[0].Biografia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jugadores[0].Club)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Jugadores) {
        <tr>
            <td>
                @if (!string.IsNullOrEmpty(item.Foto)) {
                    <img src="~/images/jugadores/@item.Foto"
                        class="rounded-circle"
                        height="80" width="80"
                        asp-append-version="true" />
                } else {
                    <span>Imagen no disponible</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biografia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club.Nombre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>

<partial name="_Paginador" for="@Model.Paginador"/>
