@model TrabajoFinalLabIV.ViewModel.CategoriasViewModel

@{
    ViewData["Title"] = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<div class="container">
    <h1 class="mt-5">Categorías</h1>

    <p>
        <a asp-action="Create" class="btn btn-primary btn-sm">Crear Nueva Categoría</a>
    </p>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Descripción</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Categorias)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                        <td>
                           
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-secondary btn-sm">Detalles</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Eliminar</a>
                           
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<partial name="_Paginador" for="@Model.Paginador" />
